.cover__link {
  display: block;
  text-decoration: none;
  padding: 245px 312px 245px 312px;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, 0.8);
  transition: .3s ease-in-out;
}

@media screen and (max-width: 1195px) {
  .cover__link {
    padding: 245px calc((100vw - 560px) / 2);
  }
}

@media screen and (max-width: 1024px) {
  .cover__link {
    padding: 195px 232px;
  }
}

@media screen and (max-width: 970px) {
  .cover__link {
    padding: 195px calc((100vw - 560px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    padding: 115px 104px;
  }
}
@media screen and (max-width: 580px) {
  .cover__link {
    padding: 115px calc((100vw - 560px) / 2);
  }
}

@media screen and (max-width: 425px) {
  .cover__link {
    padding: 33px 16px;
  }
}
