.header__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  column-gap: 18px;
  padding-top: 46px;
}


@media screen and (max-width: 320px) {
  .header__links {
    padding-top: 30px;
  }
}
