.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.63;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 26px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph  {
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph  {
    line-height: 1.63;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph{
    margin: 0 16px;
  }

}

