.lead__subtitle {
  margin: 32px auto 0;
  padding: 0;
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
  line-height: 1.07;
  font-weight: 400;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 5vw;
    line-height: 1.07;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
}

